@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap");

body {
  font-family: "Nunito", sans-serif;
  color: aliceblue;
  background-color: #202020;
  width: 500px;
}

label {
  line-height: 1.5rem;
}

a {
  color: aquamarine;
}

hr {
  border: 0.2rem aquamarine solid;
  border-radius: 2rem;
}
