/* THEME */
/* body {
  background-color: black !important;
  font-family: Helvetica, Arial, sans-serif !important;
}

header {
  background-color: black !important;
} */

/* hides the favorite count */
.favorite-count {
  display: none;
}

/* hides "pena" and "eksi seyler" buttons from the navigation bar */
#nav-extra-buttons {
  display: none !important;
}

/* hides sol frame */
/* #index-section {
  display: none;
} */

/* hides eksi seyler window on sag frame */
#aside > iframe {
  display: none !important;
}

#eksiseyler-author-embed {
  display: none !important;
}

/* hides karma information and entry count badge (i.e "azimli") on profile page */
#user-badges {
  display: none;
}

/* other shit */
.favorite-link {
  margin-right: 0.5rem;
  opacity: 0.75;
  text-decoration: none !important;
}

.favorite-link:hover {
  opacity: 1;
  text-decoration: none !important;
}
