/* THEME */
/* body {
  background-color: black !important;
  font-family: Helvetica, Arial, sans-serif !important;
}

header {
  background-color: black !important;
} */

/* hides the favorite count */
.favorite-count {
  display: none !important;
}

/* hides "pena" and "eksi seyler" buttons from the navigation bar */
#nav-extra-buttons {
  display: none !important;
}

/* hides sol frame */
/* #index-section {
  display: none;
} */

/* hides eksi seyler window on sag frame */
#aside > iframe {
  display: none !important;
}

#eksiseyler-author-embed {
  display: none !important;
}

/* hides karma information and entry count badge (i.e "azimli") on profile page */
#user-badges {
  display: none;
}

/* other shit */
.favorite-link {
  margin-right: 0.5rem;
  opacity: 0.6;
  text-decoration: none !important;
}

.favorite-link.favorited {
  opacity: 1;
}

.favorite-link:hover {
  opacity: 1;
  text-decoration: none !important;
}

/* Hides pena video */
#video {
  display: none;
}

/*  */
/* HIDE ADS */
/*  */
/* under top ad */
.under-top-ad {
  display: none !important;
}

/* OTHER ADS (sidebar and footer) */

.bottom-ads,
.stick-ad,
#sticky-ad,
.ad-double-click,
.ad-banner,
.ad-1x1 {
  display: none !important;
}

/* sol frame sponsorlu reklam basliklarini kaldir */
.sponsored {
  display: none !important;
}
